.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}


.App-header {
  background-color: #EFF7F6;
  display:flex;
  flex-flow:row;
  flex-direction: row;
  border-bottom: 3px;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-color: grey;
  border-style: double;
  border-radius:10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.v-left{
  margin-top: 50px;
  border-left:2px solid grey;
  height: 30px;
  margin-left: 20px;
  font-size:20px;
  padding-left:20px;
}

.contact-us-header{
  font-size: 20px;
  margin-top: 50px;
  margin-left:850px;
}

.contact-us-header{
  font-size: 20px;
  margin-top: 50px;
  margin-left:850px;
}



.welcome-content{
  text-align:center;
  height:25%;
  width: 50%;
  margin-left: 300px;
  font-size: 18px;
}

.welcome{
  padding-top:50px;
  font-size:50px;
  color:black;

}


.hero-image{
  height: 600px;
  width:100% ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .50;
  left:0;
  top:0;
  z-index:-1;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1.95;
  font-size: 30px;
}

table {
   border: 1px solid black;
   margin:auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#welcome-access-account{
  display:flex;
}

#welcome-header {
  text-align:center;
  height:25%;
  width: 50%;
  padding-top:15px;
  padding-bottom:15px;
  margin-left: 275px;
  font-size: 18px;
}

#welcome-body{
  background-size:cover;
  background-color: #EFF7F6;
}
